<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/allowforbid" version="1.0.0" viewmodes="maximized">
    <tizen:application id="El7vekyK7m.allowforbid" package="El7vekyK7m" required_version="2.3.1"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>allowforbid</name>
    <tizen:profile name="mobile"/>
</widget>
